// out: ../../build/css/responsive.css, sourceMap: true
$orange: #DF561B;
@media only screen and (min-width:1440px) {
	body {
		.block-container,
		.container,
		.wp-block-columns {
			max-width: 1800px;

			&.container-l {
				max-width: 1650px;
			}

			&.container-md {
				max-width: 1370px;
			}

			&.container-s {
				max-width: 1200px;
			}

			&.container-sm {
				max-width: 1100px;
			}
		}
		&.tax-event_cat {
			.block-container,
			.container,
			.wp-block-columns {
				max-width: 1800px;

				&.container-l {
					max-width: 1640px;
				}

				.entry-activity img {
					height: 273px;
				}
			}
			.container.container-l.tax-header {
			    max-width: 1610px !important;
			}
		}
	}
}
@media only screen and (max-width:1850px) {
	.main-navigation-wrap .main-navigation .menu > li {
		margin-left: 20px;

		> a {
			font-size: 18px;
		}

		ul.sub-menu {
			li {
				> a {
					font-size: 16px;
				}
			}
		}
	}

	.site-header {
		.header-nav-wrap ul {
			padding: 0;

			li {
				font-size: 16px;
				padding: 0 10px;

				.icon {
					font-size: 16px;
				}

				&.buy,
				&.lang {
					padding: 0 10px;
				}
			}
		}

		.site-logo {
			a img,
			img {
				max-width: 100px;
			}
		}
	}
}
@media only screen and (max-width:1480px) {
	.ank .img-wrap {
		right: 15%;
	}

	.main-navigation-wrap .main-navigation .menu > li > a {
		font-size: 16px;
	}

	.site-header .header-nav-wrap {
		margin-left: 15px;
	}

	.btn {
		font-size: 19px;
		height: 50px;
	}

	.home {
		.slider-section {
			.swiper-slide {
				padding: 0 120px;
			}

			.entry-title {
				font-size: 74px;
			}
		}
	}
}
@media only screen and (max-width:1380px) {
	.main-navigation-wrap .main-navigation .menu > li {
		margin-left: 10px;

		> a {
			font-size: 14px;
		}
	}
}
/** End of 1280px **/
@media only screen and (max-width:1200px) {
	.entry-activity,
	.row-posts.grid-2 > div {
		img {
			height: 200px;
		}

		.entry-content {
			padding: 6px 0;
		}

		.entry-excerpt {
			width: 100%;
			margin-top: 0;
			padding: 0 15px;
			font-size: 16px;
			line-height: 24px;
		}

		.icon-hover {
			width: 36px;
			height: 36px;
		}

		.entry-title {
			font-size: 20px;
			line-height: 24px;
		}

		.entry-subtitle {
			font-size: 14px;
		}

		.entry-date {
			padding-left: 10px;
			margin-left: 13px;

			.date-large {
				font-size: 26px;
			}

			.date-sm {
				font-size: 14px;
				line-height: 18px;
			}
		}
	}

	.entry-article-wide {
		display: block;

		.post-thumbnail {
			margin: 0;
			height: 180px;
		}
	}

	.entry-article,
	.entry-article-wide,
	.mag-featured,
	.related-articles .entry-article {
		.post-thumbnail img {
			height: 180px;
		}

		.entry-title {
			font-size: 20px;
			line-height: 32px;
			margin: 9px 0 0;
		}

		.entry-excerpt {
			font-size: 16px;
			line-height: 24px;
			padding-left: 0;
		}
	}

	.mag-featured,
	.mag-posts-wrap {
		padding: 0;

		.entry-article-wide,
		.entry-article.big {
			margin-bottom: 30px;
			padding-bottom: 30px;
			border-bottom: 1px solid #CDDBDF;

			&:last-child {
				margin-bottom: 30px;
			}
		}
	}

	.mag-section {
		.entry-text {
			margin-top: 0;
			padding: 0 15px;
			font-size: 16px;
			line-height: 24px;
			text-align: right;
		}

		.featured-row {
			padding: 0;
			margin: 25px 0 0;
			border: 0;
		}

		.row-posts {
			padding: 0 15px;

			.entry-article {
				padding-bottom: 30px !important;
				border-bottom: 1px solid #CDDBDF;
				margin-bottom: 30px;
			}
		}
	}

	.site-header {
		#main-navigation,
		.header-nav-wrap {
			display: none;
		}

		.header-desktop {
			height: 100%;

			.custom-row {
				justify-content: space-between;
				flex-direction: row-reverse;
			}
		}

		.site-logo {
			margin-left: 0;

			a img {
				width: 78px;
			}

			a img,
			img {
				max-width: auto;
			}

			> * {
				flex-grow: 1;
			}
		}

		.mobile-menu-wrap {
			.header-nav-wrap {
				display: block;
				margin: 0;

				ul {
					padding: 0;

					&:after,
					&:before {
						display: none;
					}
				}

				.buy,
				.lang {
					display: none;
				}
			}
		}

		.mobile-menu-btn {
			display: block;
			font-size: 30px;
		}

		&.is-sticky {
			.mobile-menu-btn {
				color: #000;
			}
		}
	}
}
/** End of 1024px **/
@media only screen and (max-width:992px) {
	.selectize-control.single .selectize-input {
		font-size: 17px;

		input {
			font-size: 17px;

			&::placeholder {
				font-size: 17px;
			}
		}
	}

	.selectize-dropdown {
		font-size: 17px;
	}

	.side-menu-wrap {
		.entry-body {
			padding: 0 10px;
		}

		.entry-header {
			padding: 15px 23px;
			margin-bottom: 25px;
		}

		.hidden-fields a {
			margin: 27px 0 40px;
		}

		.date-picker-wrap {
			margin: 20px 0;
		}

		.buy-now-date-picker {
			font-size: 17px;

			&::placeholder {
				font-size: 17px;
			}
		}
	}

	.hover-flip-item-wrapper {
		justify-content: center;
		font-weight: bold;
		font-size: 19px;
	}

	#site-wrap {
		padding-top: 68px;
	}

	.site-header {
		height: 68px;
	}

	.swiper-section {
		padding: 0;
	}

	.icon-link {
		font-size: 16px;
	}

	.single-article-wrap {
		.col-content {
			position: relative;
			padding: 0 15px;

			.bg-img {
				position: absolute;
				bottom: -75px;
				left: 0;
				width: 100%;
				height: 110px;
			}
		}

		&.content-wrap {
			padding-bottom: 0;

			.sidebar {
				padding-right: 0;
			}

			h1.entry-title {
				font-size: 44px;
				line-height: 40px;
			}

			h2,
			h3,
			h4,
			h5,
			h6 {
				font-size: 20px;
			}
		}
	}

	.related-articles {
		background-color: #D6B6FF;
		padding: 100px 15px 0;

		.title-wrap .entry-title {
			font-size: 44px;
			text-align: center;
		}

		.entry-article {
			padding-bottom: 30px;
			margin-bottom: 30px;
			border-bottom: 1px solid rgba(7, 77, 95, 0.3);

			&:last-child {
				border: 0;
			}
		}
	}

	.images-slider {
		margin: 0 -15px;

		.button-next,
		.button-prev {
			width: 35px;
			height: 50px;
		}

		img {
			height: 215px;
		}
	}

	.thumbs-slider {
		margin: 20px 0 0;

		.swiper-slide {
			height: 35px;
		}
	}

	.swiper-pagination-bullets {
		margin-top: 0;

		.swiper-pagination-bullet {
			width: 15px;
			height: 3px;
			margin: 0 5px;
		}
	}

	.title-wrap {
		margin-bottom: 34px;

		.entry-title {
			font-size: 40px;
			line-height: 48px;
		}

		.entry-text {
			font-size: 16px;
			line-height: 24px;
		}
	}

	.mobile-padd-0 {
		padding: 0;
	}

	.header-search {
		padding: 0 20px;

		button {
			font-size: 20px;
			color: #074D5F;
		}

		form.search .search-input {
			font-size: 18px;
		}
	}

	.social-list {
		justify-content: flex-end;
		font-size: 23px;
		margin: 0;
		flex: 0 0 40%;
		width: 100%;
	}

	.swiper-container {
		.button-next,
		.button-prev {
			font-size: 30px;
		}
	}

	.hide-mobile {
		display: none;
	}

	.hide-desktop {
		display: block;
	}

	.btn {
		font-size: 18px;
		height: 40px;
	}

	.col4,
	.col5,
	.col6,
	.col7,
	.col8 {
		flex: 0 0 100%;
	}

	.entry-title {
		font-size: 40px;
	}

	.footer-col-nav {
		.entry-title {
			&:after {
				display: inline-block;
				font-family: 'FontAwesome';
				content: '\f107';
				transition: all 300ms ease;
			}
		}

		.footer-nav {
			display: none;
		}

		&.active {
			.entry-title {
				&:after {
					transform: rotate(180deg);
				}
			}
		}
	}

	.block.block-iframe-banner {
		padding: 30px 0 40px;

		.entry-title {
			margin-bottom: 5px;
		}

		.entry-text {
			font-size: 16px;
			line-height: 24px;
			text-align: center;
		}

		iframe {
			margin-top: 40px;
			height: 450px;
		}

		.col-content {
			padding: 0;
			text-align: center;
		}
	}

	.block.block-q-and-a {
		padding: 40px 0;

		.qa-wrap {
			margin-top: 0;

			.entry-title {
				font-size: 17px;
				line-height: 24px;
			}

			.entry-body {
				margin-top: 7px;
				padding: 0;
				font-size: 16px;
				line-height: 24px;
			}
		}
	}

	.block.block-activities-grid {
		padding: 40px 0;

		.swiper-container {
			padding-left: 15px;
			overflow: visible;
		}

		.button-next,
		.button-prev {
			display: none;
		}
	}

	.ank {
		height: 440px;

		&.type-1,
		&.type-2 {
			.ank-wrap {
				width: 90%;
			}
		}

		&.bottom-ank {
			.ank-wrap {
				top: 50px;
			}

			.img-wrap {
				right: 40px;
				width: 216px;

				img {
					height: 100%;
				}
			}
		}

		.entry-title {
			font-size: 21px;
			line-height: 24px;
		}

		.entry-text {
			font-size: 16px;
			line-height: 22px;
		}

		.answer-wrap {
			padding: 18px 20px 18px 27px;
		}

		.ank-wrap {
			top: 60px;
			right: unset;
			left: 50%;
			transform: translateX(-50%);
			width: 90%;
			padding: 18px 20px 18px 27px;

			&:after {
				right: 60%;
			}
		}

		.img-wrap {
			right: 0;
			height: 200px;
			width: 280px;
		}
	}

	.home {
		.title-wrap {
			.entry-title {
				font-size: 44px;
				line-height: 48px;
			}
		}

		.slider-section {
			.main-slider {
				height: 600px;

				.swiper-slide {
					padding: 15px 0 0;
					align-items: flex-start;
					text-align: center;
				}

				.button-prev {
					right: 20px;
				}

				.button-next {
					left: 20px;
				}
			}

			.entry-title {
				font-size: 54px;
				line-height: 48px;
			}

			.entry-text {
				font-size: 16px;
				margin-top: 7px;
				line-height: 21px;
			}

			.bg-img {
				bottom: -20px;
			}
		}

		.btn.text-btn {
			font-size: 24px;
		}

		section {
			.btn-wrap {
				margin-top: 37px;
			}
		}

		.banner-section {
			align-items: flex-start;
			text-align: center;
			padding-top: 60px;

			.entry-title {
				font-size: 42px;
			}

			.hover-flip-item-wrapper {
				margin: 24px auto 0;
			}

			.entry-text {
				font-size: 16px;
				line-height: 20px;
			}

			.entry-image {
				left: 50%;
				transform: translateX(-50%);
				width: 192px;
			}
		}

		.upcoming-section {
			padding: 37px 0 50px;

			.swiper-container {
				padding-left: 15px;
				overflow: visible;
			}

			.button-next,
			.button-prev {
				display: none;
			}
		}

		.featured-section {
			padding: 20px 0 37px;

			.entry-activity {
				.entry-content {
					padding: 6px 15px;
				}
			}

			.swiper-wrapper {
				flex-wrap: wrap;

				.swiper-slide {
					margin-bottom: 20px;

					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}

	.content-wrap {
		h2,
		h3,
		h4,
		h4,
		h5,
		h6 {
			font-size: 17px;
			line-height: 24px;
		}

		p,
		ul li {
			font-size: 16px;
			line-height: 24px;
		}
	}

	ul.entry-links {
		font-size: 17px;
	}

	.page-template-tpl-contact {
		.btn-scroll-to-top {
			bottom: 90px;
		}

		.site-footer {
			padding-bottom: 80px;
		}
	}

	.contact-main-wrap {
		padding: 0 0 53px;
		font-size: 16px;
		line-height: 24px;

		hr {
			margin: 25px 0 0;
		}

		.d-flex {
			flex-direction: column;

			> div {
				padding: 25px 0;
				border-bottom: 1px solid #CDDBDF;

				&:last-child {
					border-bottom: 0;
				}
			}
		}

		ul {
			margin-bottom: 0;
		}

		.entry-form-title {
			font-size: 18px;
			line-height: 24px;
			text-align: center;
			padding-top: 32px;
			margin: 40px 0 35px;
			border-top: 1px solid #CDDBDF;
		}

		.custom-row > div:last-child {
			padding: 0;
		}

		.entry-subtitle {
			font-size: 18px;
			line-height: 21px;
		}

		.entry-title {
			margin: 35px 0;
			font-size: 44px;
			line-height: 52px;
			text-align: center;
		}

		.custom-row {
			padding: 0;
		}
	}

	.wpcf7 .wpcf7-form .submit-wrap .wpcf7-submit {
		margin-right: 0;
	}

	form {
		.fields {
			.submit-wrap {
				flex-direction: column;
			}

			label {
				flex: 0 0 100%;
				margin-bottom: 20px;

				&:nth-child(1),
				&:nth-child(2),
				&:nth-child(3),
				&:nth-child(4) {
					padding: 0;
				}
			}
		}

		input[type="text"],
		input[type="tel"],
		input[type="email"] {
			height: 46px;
		}

		input[type="text"],
		input[type="tel"],
		input[type="email"],
		textarea {
			font-size: 17px;
		}
	}

	.page-template-tpl-event-tours {
		&.calendar-fixed.admin-bar {
			.events-calendar {
				top: 0;
			}
		}

		.select-wrap {
			display: none;
		}

		.events-calendar {
			.qs-datepicker-container {
				width: auto;
				margin-top: 10px;
			}
		}

		.calendar-wrap {
			border-bottom: 0;
			border-color: #000;

			ul li {
				font-size: 16px;

				a > span {
					&.num {
						font-size: 16px;
					}
				}
			}

			.days-wrap {
				width: 100%;

				ul {
					justify-content: space-between;

					li {
						margin: 0 5px;
					}
				}
			}
		}

		.events-results {
			.entry-event {
				flex: 0 0 33%;

				.post-thumbnail img {
					max-width: 100%;
					height: 230px;
				}
			}

			.entry-result {
				padding-top: 20px;

				.entry-body {
					padding-top: 0;
				}

				.entry-day-title {
					display: none;
				}
			}
		}

		.header-wrap {
			display: flex;
		}

		.calendar-wrap {
			button {
				display: none;
			}
		}
	}

	.site-footer {
		.entry-title {
			font-size: 17px;
		}

		.footer-top {
			padding: 0;

			.footer-cols {
				flex-direction: column;
			}
		}

		.entry-text {
			font-size: 14px;
		}

		.footer-nav {
			display: none;
		}

		.footer-col-menu {
			.entry-title {
				font-size: 17px;
				line-height: 22px;
				font-weight: bold;
				padding: 20px 0;
				border-bottom: 1px solid rgba(175, 223, 219, 0.2);
				position: relative;
				margin: 0;

				&.m-top {
					margin-top: 0;
				}

				&:after {
					position: absolute;
					left: 0;
					top: 50%;
					transform: translateY(-50%);
					content: "\e91d";
					font-family: 'meditech' !important;
					speak: never;
					font-style: normal;
					font-weight: normal;
					font-variant: normal;
					text-transform: none;
					line-height: 1;
					font-size: 12px;
					/* Better Font Rendering =========== */
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
				}
			}
		}

		.form-col {
			display: flex;
			flex-direction: column-reverse;

			form {
				padding-bottom: 20px;
			}

			.social-wrap {
				display: flex;
				border-bottom: 1px solid rgba(175, 223, 219, 0.2);
				padding: 20px 0;
				margin-bottom: 20px;

				.entry-title.m-top {
					margin-top: 0;
					font-size: 17px;
					line-height: 22px;
					flex-grow: 1;
				}
			}
		}

		.custom-row {
			> div {
				&:first-child,
				&:last-child {
					padding: 0;
				}
			}
		}
	}

	.search-header-wrap {
		flex-direction: column-reverse;
		align-items: flex-start;

		.search-title {
			margin-top: 17px;
			font-size: 16px;
		}
	}

	.wrap404 {
		text-align: center;

		.d-flex {
			flex-direction: column;
		}

		svg {
			width: 70%;
			height: 100px;
		}

		.entry-subtitle {
			font-size: 19px;
		}
	}
}
/** End of 992px **/
@media only screen and (max-width:576px) {

	.swiper-container .button-next, .swiper-container .button-prev,
	.swiper-container .button-next, .swiper-container .button-next {
		font-size: 24px;
	}

	.home .banner-section,
	.home .bottom-ank,
	.marketing-banner {
		margin-bottom: 5px;
	}

	.site-footer .footer-bottom .copyrights {
		line-height: 30px;
		padding-left: 30px;
		a {
			position: relative;
    		left: -30px;
		}
	}
	.social-list li {
		a {
			color: #AFDFDB;
		}
	}

	.event-entry-details {
		top: 14px;
	}
	.home .featured-section .title-wrap .entry-title {
	    align-items: center;
	}
	.home .slider-section .anchor {
		width: 22px;
		height: 24px;
		background-size: cover !important;
		background: url(../../images/home-scroll-down.png) no-repeat center center;
		bottom: 100px;
		svg {
			display: none;
		}
	}
	.home .slider-section .bg-img {
		bottom:0;
		background: url(../../images/home-white-wave.png) no-repeat top center;
		background-size: cover;
		height: 92px;
		svg {
			display: none;
		}
	}

	.home .slider-section .entry-title {
		margin-top: 10px;
		br {
		    display: inherit;
		}
	}

	.single-mt_event {
		.header-image {
			.bg-bottom-img {
				background: url(../../images/movie-white-wave.png) no-repeat bottom center;
			    background-size: contain;
				svg {
					display: none;
				}
			}
		}
	}

	.side-menu-wrap {
		max-width: 100%;
		padding-bottom: 20px;

		.hidden-fields .btn {
			margin: 40px 0;
		}

		.buy-now-results {
			max-height: 340px;

			.entry-buy-now {
				.entry-title {
					font-size: 24px;
					line-height: 30px;
					margin-bottom: 13px;
				}

				.entry-excerpt {
					font-size: 18px;
					line-height: 30px;
					margin-bottom: 13px;
				}
			}
		}
	}

	.btn.orange {
		min-width: 0;
	}

	.news-bar-wrap {
		height: 35px;

		.acme-news-ticker-label {
			font-size: 16px;
			padding-right: 15px;
		}

		.news-bar-ticker {
			li {
				font-size: 14px;
			}
		}

		.acmeticker-wrap {
			margin-left: 43px;
		}

		.acme-news-ticker-controls {
			padding-left: 15px;

			button {
				width: 21px;
				height: 21px;
				font-size: 9px;
			}
		}
	}

	.admin-bar .site-header.is-sticky {
		top: 0;
	}

	.img-credit {
		left: 10px;
		bottom: 10px;
		font-size: 11px;
	}

	.custom-row {
		&.mobile-row-reverse {
			flex-direction: column-reverse;
		}
	}

	.top-row {
		border: 0;
		padding: 0 0 20px;
	}

	.header-image {
		height: 169px;

		.header-image-content {
			padding: 0 40px;

			.entry-title {
				font-size: 44px;
				line-height: 48px;
			}
		}
	}

	.posts-wrap,
	.posts-wrap.grid-4 {
		> div {
			flex: 0 0 100%;
			margin-bottom: 40px;

			.post-thumbnail img {
				height: 230px;
			}

			.entry-title {
				font-size: 30px;
				margin: 8px 0 10px;
			}

			.entry-excerpt {
				font-size: 17px;
				line-height: 22px;
				padding: 0;
			}

			.entry-link {
				font-size: 17px;
			}
		}
	}

	.event-entry-details {
		.icon {
			width: 36px;
			height: 36px;

			&.movie {
				padding: 0 10px;
			}
		}

		.text {
			font-size: 16px;
		}
	}

	.single-mt_event {
		.header-image {
			height: 475px;
			margin-bottom: 0;

			.event-entry-details {
				right: 15px;
				top: 15px;
			}

			.bg-bottom-img {
				bottom: 0;
			}
		}

		.related-section {
			padding: 37px 0 40px;

			.swiper-container {
				overflow: visible;
				padding-left: 10px;
			}

			.button-next,
			.button-prev {
				display: none;
			}
		}
	}

	.event-details {
		h1.entry-title {
			font-size: 44px;
			line-height: 52px;
			margin-bottom: 0;
		}

		.images-slider {
			margin-top: 40px;
		}

		.entry-award,
		.entry-content,
		.entry-details,
		.entry-review {
			font-size: 16px;
			line-height: 24px;
		}

		.entry-review {
			padding: 33px 22px 39px;
			background-size: cover;

			.entry-title {
				font-size: 21px;
				line-height: 24px;
			}
		}

		.col-content {
			padding: 0;
		}
	}

	.tax-header {
		padding: 0 20px 35px;
		margin: 0;
		border: 0;
		padding-bottom: 0;
		.entry-text {
			font-size: 16px;
			line-height: 24px;
		}
	}

	.tax-wrap {
		.custom-row {
			border: 0;
			padding: 40px 0 0;

			&.top-tax-row {
				padding-bottom: 0;
			}

			&:last-child {
				padding-bottom: 40px;
			}
		}

		.ank {
			height: 440px;
			margin: 40px 0 0;

			&.bottom-ank {
				.ank-wrap {
					top: 50px;
				}

				.img-wrap {
					right: 40px;
					width: 216px;

					img {
						height: 100%;
					}
				}
			}

			.entry-title {
				font-size: 21px;
				line-height: 24px;
			}

			.entry-text {
				font-size: 16px;
				line-height: 22px;
			}

			.answer-wrap {
				padding: 18px 20px 18px 27px;
			}

			.ank-wrap {
				top: 60px;
				right: unset;
				left: 50%;
				transform: translateX(-50%);
				width: 90%;
				padding: 18px 20px 18px 27px;

				&:after {
					right: 60%;
				}
			}

			.img-wrap {
				right: 0;
				height: 200px;
				width: 280px;
			}
		}
	}

	.row-pagination {
		.pagination {
			font-size: 18px;

			> * {
				width: 30px;
				height: 30px;
			}
		}
	}

	.row-posts,
	.row-posts.grid-2,
	.row-posts.grid-3 {
		> div {
			padding: 0;
			flex: 0 0 100%;
			margin-bottom: 35px;

			&:last-child {
				margin-bottom: 0;
			}

			.entry-content {
				padding: 10px 15px;
			}
		}

		&.search-wrap {
			> div {
				.entry-content {
					padding: 10px 0 7px;
				}
			}
		}
	}

	.block.block-content-image {
		padding: 0;

		.container {
			border: 0;
			padding-top: 0;
			padding-bottom: 30px;
		}

		.content-wrap {
			padding-bottom: 20px;
			margin-bottom: 20px;
		}

		.col-content {
			padding-bottom: 34px;
			padding-left: 0;
		}

		.col-image {
			padding: 0;
		}

		.entry-title {
			font-size: 21px;
		}

		.btn {
			width: 100%;
			height: 47px;
		}
	}

	.page-template-tpl-event-tours .events-results .entry-event {
		flex: 0 0 100%;
		margin-bottom: 20px;
	}
	.row-posts>div .entry-content,
	.row-posts.grid-2>div .entry-content,
	.row-posts.grid-3>div .entry-content {
		padding-bottom: 6px;
	}
	.row-posts>div,
	.row-posts.grid-2>div,
	.row-posts.grid-3>div {
		margin-bottom: 32px;
	}

	.page-template-tpl-event-tours .days-slider,
	.qs-datepicker-container .qs-controls,
	.qs-squares,
	.qs-datepicker-container .qs-day {
		color: #074D5F;
	}
	.qs-datepicker-container .qs-day {
		font-size: 16px;
		line-height: 21px;
		font-weight: normal;
	}
	.qs-datepicker-container .qs-square {
		font-size: 16px;
		line-height: 21px;
		margin: 7.5px 0;
	}
	.page-template-tpl-event-tours .header-wrap .calendar-btn {
		color: #074D5F;
	}
	.calendar-sort-btn {
		display: inline-block;
		background: url(../../images/calendar-sort-icon.png) no-repeat right center;
		width: auto;
		padding-right: 24px;
		font-size: 15px;
		line-height: 20px;
		color: #074D5F;
		padding-left: 19px;
		margin-left: 19px;
		border-left: 1px solid #B5CACF;
	}

	.page-template-tpl-event-tours .events-results .entry-activity .entry-date {
		display: inline-grid;
		color: #3A59B6;
	}
	.d-flex {
		flex-wrap: wrap;
		.entry-details {
			width: 100%;
		}
	}
	.event-details .eventPageContentWrap .hover-flip-item-wrapper {
		width: 100%;
	}

	.eventPageContentWrap > .entry-details {
		border-top: 1px solid #CDDBDF;
		padding-top: 25px;
		margin-bottom: 30px;
		li {
			font-size: 16px;
			line-height: 20px;
		}
	}
	.event-details .entry-review .entry-title {
		color: #074D5F;
	}
	.event-gallery-column {
		padding-right: 0;
	}
	.row-posts.search-wrap .post-thumbnail a img {
		width: 100%;
		height: auto;
	}
	.search-results .entry-article-wide .entry-title {
		font-size: 17px;
		line-height: 24px;
	}
	.row-posts.search-wrap>div .entry-content p{
		font-size: 16px;
		line-height: 24px;
	}
	.row-posts.search-wrap>div .entry-content .icon-link .text {
		font-size: 16px;
		line-height: 24px;
	}
}

/** End of 576px **/
@media only screen and (max-width:320px) {}
/** End of 320px **/
@media print {
	a[href]:after {
		content: none !important;
	}
}
/** End of print **/
