.about-text-and-slider-section{
	padding: 0 0 100px;

	.section-inner{
		display: grid;
		grid-template-columns: 1fr 42.6%;
		grid-gap: 100px;

		@media screen and (max-width: 1599px){
			grid-gap: 50px;
		}

		@media screen and (max-width: 991px){
			grid-template-columns: 1fr;
		}
	}

	.links-list{
		display: grid;
		grid-gap: 12px;
	}

	@media screen and (max-width: 767px){
		padding-top: 20px;
	}

	@media screen and (max-width: 991px){
		.section-slider{
			padding: 0 15px;
		}
	}

	.mobile-visible{
		@media screen and (min-width: 992px){
			display: none !important;
		}
	}

	.mobile-hidden{
		@media screen and (max-width: 991px){
			display: none !important;
		}
	}
}