.btn {
	appearance: none;
	background: $primary;
	color: #fff;
	display: inline-flex;
	padding: 0 60px;
	min-width: 320px;
	position: relative;
	align-items: center;
	justify-content: center;
	min-height: 58px;
	color: #fff;
	font-size: 24px;
	font-weight: 700;
	border: 0;
	transition: all $t;
	border-radius: 29px;
	font-family: $second-font;

	&:hover,
	&:focus{
		background: darken($primary, 10%);
	}

	&.btn-small{
		min-height: 40px;
		font-size: 20px;
		min-width: 260px;
		padding-left: 40px;
		padding-right: 40px;
		height: auto;
		border-radius: 20px;
	}

	@media screen and (max-width: 767px){
		padding: 0 30px;
		min-width: 245px;
		min-height: 48px;
		border-radius: 24px;
		font-size: 20px;
	}

	&.lightblue {
		background: $accent;

		&:hover,
		&:focus{
			background: darken($accent, 10%);
		}
	}

	&.yellow{
		background: $yellow;
		color: $primary;

		&:hover,
		&:focus{
			background: darken($yellow, 10%);
		}
	}
}

.sticky-btn{
	position: fixed;
	left: 60px;
	bottom: 60px;
	display: block;
	background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 92'%3E%3Cpath d='M7.04 76.79h113.92a7.05 7.05 0 007.04-7.06V7.06c0-3.9-3.15-7.06-7.04-7.06H7.04A7.05 7.05 0 000 7.06v62.67c0 3.9 3.15 7.06 7.04 7.06zm-6.82-6.4c0 3.39 2.7 6.14 6.02 6.14l15.46-.02A24.73 24.73 0 0044.53 92l-.02-15.5 17.1-.02a6.08 6.08 0 006.01-6.15' fill='%23FFC400'/%3E%3C/svg%3E") no-repeat center center / contain;
	width: 128px;
	height: 92px;
	padding-top: 12px;
	padding-bottom: 32px;
	text-align: center;
	color: $primary;
	font-size: 24px;
	line-height: 1;
	font-weight: bold;
	font-family: $second-font;
	appearance: none;
	border-radius: 0;
	box-shadow: none;
	border: 0;
	z-index: 90;

	@media screen and (max-width: 991px){
		left: 15px;
		bottom: 15px;
		width: 84px;
		height: 60px;
		padding: 6px 0 18px;
		font-size: 16px;
	}
}