.hp-banner-section{
	padding-bottom: 158px;

	@media screen and (max-width: 767px){
		padding: 0 15px 86px;
	}
}

.hp-banner-slider{
	margin-bottom: 0 !important;

	.slick-dots{
		bottom: -80px !important;

		li{
			margin: 0 15px;
			width: auto;
			height: auto;
		}

		button{
			width: 16px;
			height: 16px;
			display: block;
			border-radius: 50%;
			border: 3px solid #0348F4;
			transition: all .3s;
			opacity: .4;
			box-sizing: border-box;
			padding: 0;

			&:before{
				display: none;
			}

			&:hover,
			&:focus{
				opacity: 1;
			}
		}

		.slick-active button{
			border-width: 8px;
			opacity: 1;
			cursor: default;
		}

		@media screen and (max-width: 767px){
			bottom: -45px !important;
			text-align: right;
			margin-right: 10px;

			li{
				margin: 0 10px;
			}

			button{
				width: 12px;
				height: 12px;
			}

			.slick-active button{
				border-width: 6px;
			}
		}
	}
}

.hp-banner-card{
	display: flex;
	font-family: $second-font;

	.card-content{
		width: 43.6458vw;
		background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 838 594'%3E%3Cpath d='M898 563.06V30.94A30.94 30.94 0 00867.08 0H31.66A30.97 30.97 0 00.71 30.94L68.3 563.06A30.93 30.93 0 0099.24 594h767.84A30.93 30.93 0 00898 563.06z' fill='%230348F4'/%3E%3C/svg%3E") no-repeat left center / cover;
		padding: 7.2917vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		color: #fff;
		font-size: 1.1979vw;
		line-height: 1.3;
	}

	.card-image{
		width: 59.0625vw;
		margin-right: -2.8125vw;

		svg{
			display: block;
		}

		@media screen and (min-width: 768px){
			.mobile-image{
				display: none;
			}
		}

		@media screen and (max-width: 767px){
			.desktop-image{
				display: none;
			}
		}
	}

	.card-category{
		margin-bottom: 0.4167vw;
	}

	.card-caption{
		font-size: 3.3333vw;
		line-height: 1;
		font-weight: bold;
		margin-bottom: 0.7813vw;
		color: inherit;
	}

	.card-text{
		padding-bottom: 1.5104vw;
		position: relative;
		margin-bottom: 0.9896vw;

		&:after{
			content: '';
			display: block;
			width: 7.7083vw;
			height: 0.3125vw;
			background: $yellow;
			position: absolute;
			right: 0;
			bottom: 0;
		}
	}

	.card-date{
		font-size: 1.8750vw;
		font-weight: bold;
		line-height: 1;
		margin-bottom: 0.8333vw;
	}

	.card-more-link{
		font-weight: bold;
		color: inherit;
		display: flex;
		align-items: center;

		&:after{
			content: '';
			display: block;
			width: 0.5729vw;
			height: 0.8333vw;
			margin-right: 0.4167vw;
			flex: none;
			background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 16'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.94.94l2.12 2.12L5.12 8l4.94 4.94-2.12 2.12L.88 8 7.94.94z' fill='%23FFC400'/%3E%3C/svg%3E") no-repeat center center / contain;
		}

		&:hover,
		&:focus{
			color: $yellow;
		}
	}

	@media screen and (max-width: 767px){
		flex-direction: column-reverse;

		.card-image{
			width: 100%;
			margin-bottom: -24px;
			margin-right: 0;
		}

		.card-content{
			width: 100%;
			padding: 32px 28px 30px;
			position: relative;
			background: transparent;

			&:before,
			&:after{
				content: '';
				display: block;
				width: 100%;
				height: 50%;
				position: absolute;
				left: 0;
				top: 0;
				background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 345 205'%3E%3Cpath d='M327.03.86L17.97 40.05A17.96 17.96 0 000 57.98v129.1C0 196.97 8.06 205 17.97 205h309.06c9.93 0 17.97-8.03 17.97-17.93V18.8C345 8.9 336.96.86 327.03.86z' fill='%230348F4'/%3E%3C/svg%3E") no-repeat center top / cover;
			}

			&:after{
				top: 50%;
				background-position: center bottom;
			}

			> *{
				z-index: 2;
				position: relative;
			}
		}

		.card-category{
			font-size: 20px;
			line-height: 1.5;
		}

		.card-caption{
			font-size: 32px;
			line-height: 1;
		}

		.card-text{
			font-size: 20px;
			line-height: 1.5;
			padding-bottom: 12px;

			&:after{
				width: 93px;
				height: 5px;
			}
		}

		.card-date{
			font-size: 30px;
			line-height: 1;
			margin-bottom: 0;
		}

		.card-footer{
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
		}

		.card-more-link{
			font-size: 18px;

			&:after{
				width: 9px;
				height: 12px;
				margin-right: 7px;
			}
		}
	}
}