.shop-page-section{
	padding: 0 0 110px;

	.section-top{
		padding-bottom: 50px;

		a{
			color: $primary;
			text-decoration: underline;

			&:hover,
			&:focus{
				text-decoration: none;
			}
		}

		@media screen and (max-width: 767px){
			text-align: right !important;
			padding-bottom: 27px;
			font-size: 19px;
			line-height: 24px;

			p{
				margin-bottom: 15px;

				&:last-child{
					margin-bottom: 0;
				}
			}
		}
	}

	.container.container-md{
		@media screen and (min-width: 1440px){
			max-width: 1390px !important;
		}
	}
}

.shop-card{
	display: grid;
	grid-template-columns: 140px 1fr;
	grid-gap: 35px;
	align-items: center;
	padding: 50px 0;
	border-top: 1px solid #C0D3FF;

	.card-image{
		img{
			display: block;
			max-width: 100%;
			height: auto;
		}
	}

	.card-content{}

	.card-caption{
		font-size: 26px;
		line-height: 1;
		font-family: $second-font;
		color: $primary;
		font-weight: bold;
		margin-bottom: 24px;
	}

	.card-info{
		display: grid;
		grid-gap: 18px;

		font-size: 21px;
		line-height: 1.1;
		color: $text-color;

		strong{
			font-weight: 500;
			color: $text-dark;
		}
	}

	.card-footer{
		margin-top: 38px;

		.btn{
			min-width: 180px;
		}
	}

	@media screen and (max-width: 575px){
		grid-template-columns: 1fr 110px;
		grid-gap: 15px;
		padding: 33px 0;

		.card-image{
			order: 2;
		}

		.card-caption{
			font-size: 20px;
			line-height: 1.2;
			margin-bottom: 14px;
		}

		.card-info{
			font-size: 19px;
			grid-gap: 14px;
		}

		.card-footer{
			margin-top: 20px;

			.btn{
				min-width: 140px;
				min-height: 35px;
				height: 35px;
				font-size: 17px;
			}
		}
	}
}

.count-select{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: var(--width);
	height: var(--height);
	border: 1px solid $primary;
	border-radius: 6px;
	justify-content: center;
	margin-right: 6px;

	--height: 38px;
	--width: 100px;

	input{
		height: calc(var(--height) - 2px);
		width: 40px;
		appearance: none;
		border: 0;
		box-shadow: none;
		font-family: inherit;
		font-size: 23px;
		color: $primary;
		text-align: center;
	}

	button{
		width: 22px;
		height: calc(var(--height) - 2px);
		appearance: none;
		background: transparent;
		box-shadow: none;
		border: 0;
		font-size: 23px;
		font-weight: 400;
		font-family: $second-font;
		color: $primary;
	}

	@media screen and (max-width: 767px){
		--height: 32px;
		--width: 90px;
	}
}