@charset "UTF-8";
@media only screen and (min-width: 1440px) {
  body .block-container,
body .container,
body .wp-block-columns {
    max-width: 1710px;
  }
  body .block-container.container-l,
body .container.container-l,
body .wp-block-columns.container-l {
    max-width: 1640px;
  }
  body .block-container.container-md,
body .container.container-md,
body .wp-block-columns.container-md {
    max-width: 1370px;
  }
  body .block-container.container-s,
body .container.container-s,
body .wp-block-columns.container-s {
    max-width: 1200px;
  }
  body .block-container.container-sm,
body .container.container-sm,
body .wp-block-columns.container-sm {
    max-width: 1100px;
  }
  body.tax-event_cat .block-container,
body.tax-event_cat .container,
body.tax-event_cat .wp-block-columns {
    max-width: 1800px;
  }
  body.tax-event_cat .block-container.container-l,
body.tax-event_cat .container.container-l,
body.tax-event_cat .wp-block-columns.container-l {
    max-width: 1640px;
  }
  body.tax-event_cat .block-container .entry-activity img,
body.tax-event_cat .container .entry-activity img,
body.tax-event_cat .wp-block-columns .entry-activity img {
    height: 273px;
  }
  body.tax-event_cat .container.container-l.tax-header {
    max-width: 1610px !important;
  }
}
@media only screen and (max-width: 1850px) {
  .main-navigation-wrap .main-navigation .menu > li {
    margin-left: 20px;
  }
  .main-navigation-wrap .main-navigation .menu > li > a {
    font-size: 18px;
  }
  .main-navigation-wrap .main-navigation .menu > li ul.sub-menu li > a {
    font-size: 16px;
  }

  .site-header .header-nav-wrap ul {
    padding: 0;
  }
  .site-header .header-nav-wrap ul li {
    font-size: 16px;
    padding: 0 10px;
  }
  .site-header .header-nav-wrap ul li .icon {
    font-size: 16px;
  }
  .site-header .header-nav-wrap ul li.buy, .site-header .header-nav-wrap ul li.lang {
    padding: 0 10px;
  }
  .site-header .site-logo a img,
.site-header .site-logo img {
    max-width: 100px;
  }
}
@media only screen and (max-width: 1480px) {
  .ank .img-wrap {
    right: 15%;
  }

  .main-navigation-wrap .main-navigation .menu > li > a {
    font-size: 16px;
  }

  .site-header .header-nav-wrap {
    margin-left: 15px;
  }

  .btn {
    font-size: 19px;
    height: 50px;
  }

  .home .slider-section .swiper-slide {
    padding: 0 120px;
  }
  .home .slider-section .entry-title {
    font-size: 74px;
  }
}
@media only screen and (max-width: 1380px) {
  .main-navigation-wrap .main-navigation .menu > li {
    margin-left: 10px;
  }
  .main-navigation-wrap .main-navigation .menu > li > a {
    font-size: 14px;
  }
}
/** End of 1280px **/
@media only screen and (max-width: 1200px) {
  .entry-activity img,
.row-posts.grid-2 > div img {
    height: 200px;
  }
  .entry-activity .entry-content,
.row-posts.grid-2 > div .entry-content {
    padding: 6px 0;
  }
  .entry-activity .entry-excerpt,
.row-posts.grid-2 > div .entry-excerpt {
    width: 100%;
    margin-top: 0;
    padding: 0 15px;
    font-size: 16px;
    line-height: 24px;
  }
  .entry-activity .icon-hover,
.row-posts.grid-2 > div .icon-hover {
    width: 36px;
    height: 36px;
  }
  .entry-activity .entry-title,
.row-posts.grid-2 > div .entry-title {
    font-size: 20px;
    line-height: 24px;
  }
  .entry-activity .entry-subtitle,
.row-posts.grid-2 > div .entry-subtitle {
    font-size: 14px;
  }
  .entry-activity .entry-date,
.row-posts.grid-2 > div .entry-date {
    padding-left: 10px;
    margin-left: 13px;
  }
  .entry-activity .entry-date .date-large,
.row-posts.grid-2 > div .entry-date .date-large {
    font-size: 26px;
  }
  .entry-activity .entry-date .date-sm,
.row-posts.grid-2 > div .entry-date .date-sm {
    font-size: 14px;
    line-height: 18px;
  }

  .entry-article-wide {
    display: block;
  }
  .entry-article-wide .post-thumbnail {
    margin: 0;
    height: 180px;
  }

  .entry-article .post-thumbnail img,
.entry-article-wide .post-thumbnail img,
.mag-featured .post-thumbnail img,
.related-articles .entry-article .post-thumbnail img {
    height: 180px;
  }
  .entry-article .entry-title,
.entry-article-wide .entry-title,
.mag-featured .entry-title,
.related-articles .entry-article .entry-title {
    font-size: 20px;
    line-height: 32px;
    margin: 9px 0 0;
  }
  .entry-article .entry-excerpt,
.entry-article-wide .entry-excerpt,
.mag-featured .entry-excerpt,
.related-articles .entry-article .entry-excerpt {
    font-size: 16px;
    line-height: 24px;
    padding-left: 0;
  }

  .mag-featured,
.mag-posts-wrap {
    padding: 0;
  }
  .mag-featured .entry-article-wide,
.mag-featured .entry-article.big,
.mag-posts-wrap .entry-article-wide,
.mag-posts-wrap .entry-article.big {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #C0D3FF;
  }
  .mag-featured .entry-article-wide:last-child,
.mag-featured .entry-article.big:last-child,
.mag-posts-wrap .entry-article-wide:last-child,
.mag-posts-wrap .entry-article.big:last-child {
    margin-bottom: 30px;
  }

  .mag-section .entry-text {
    margin-top: 0;
    padding: 0 15px;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
  }
  .mag-section .featured-row {
    padding: 0;
    margin: 25px 0 0;
    border: 0;
  }
  .mag-section .row-posts {
    padding: 0 15px;
  }
  .mag-section .row-posts .entry-article {
    padding-bottom: 30px !important;
    border-bottom: 1px solid #C0D3FF;
    margin-bottom: 30px;
  }

  .site-header #main-navigation,
.site-header .header-nav-wrap {
    display: none;
  }
  .site-header .header-desktop {
    height: 100%;
  }
  .site-header .header-desktop .custom-row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .site-header .site-logo {
    margin-left: 0;
  }
  .site-header .site-logo a img {
    width: 78px;
  }
  .site-header .site-logo a img,
.site-header .site-logo img {
    max-width: auto;
  }
  .site-header .site-logo > * {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .site-header .mobile-menu-wrap .header-nav-wrap {
    display: block;
    margin: 0;
  }
  .site-header .mobile-menu-wrap .header-nav-wrap ul {
    padding: 0;
  }
  .site-header .mobile-menu-wrap .header-nav-wrap ul:after, .site-header .mobile-menu-wrap .header-nav-wrap ul:before {
    display: none;
  }
  .site-header .mobile-menu-wrap .header-nav-wrap .buy,
.site-header .mobile-menu-wrap .header-nav-wrap .lang {
    display: none;
  }
  .site-header .mobile-menu-btn {
    display: block;
    font-size: 30px;
  }
  .site-header.is-sticky .mobile-menu-btn {
    color: #000;
  }
}
/** End of 1024px **/
@media only screen and (max-width: 992px) {
  .selectize-control.single .selectize-input {
    font-size: 17px;
  }
  .selectize-control.single .selectize-input input {
    font-size: 17px;
  }
  .selectize-control.single .selectize-input input::-webkit-input-placeholder {
    font-size: 17px;
  }
  .selectize-control.single .selectize-input input::-moz-placeholder {
    font-size: 17px;
  }
  .selectize-control.single .selectize-input input:-ms-input-placeholder {
    font-size: 17px;
  }
  .selectize-control.single .selectize-input input::-ms-input-placeholder {
    font-size: 17px;
  }
  .selectize-control.single .selectize-input input::placeholder {
    font-size: 17px;
  }

  .selectize-dropdown {
    font-size: 17px;
  }

  .side-menu-wrap .entry-body {
    padding: 0 10px;
  }
  .side-menu-wrap .entry-header {
    padding: 15px 23px;
    margin-bottom: 25px;
  }
  .side-menu-wrap .hidden-fields a {
    margin: 27px 0 40px;
  }
  .side-menu-wrap .date-picker-wrap {
    margin: 20px 0;
  }
  .side-menu-wrap .buy-now-date-picker {
    font-size: 17px;
  }
  .side-menu-wrap .buy-now-date-picker::-webkit-input-placeholder {
    font-size: 17px;
  }
  .side-menu-wrap .buy-now-date-picker::-moz-placeholder {
    font-size: 17px;
  }
  .side-menu-wrap .buy-now-date-picker:-ms-input-placeholder {
    font-size: 17px;
  }
  .side-menu-wrap .buy-now-date-picker::-ms-input-placeholder {
    font-size: 17px;
  }
  .side-menu-wrap .buy-now-date-picker::placeholder {
    font-size: 17px;
  }

  .hover-flip-item-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-weight: bold;
    font-size: 19px;
  }

  #site-wrap {
    padding-top: 68px;
  }

  .site-header {
    height: 68px;
  }

  .swiper-section {
    padding: 0;
  }

  .icon-link {
    font-size: 16px;
  }

  .single-article-wrap .col-content {
    position: relative;
    padding: 0 15px;
  }
  .single-article-wrap .col-content .bg-img {
    position: absolute;
    bottom: -75px;
    left: 0;
    width: 100%;
    height: 110px;
  }
  .single-article-wrap.content-wrap {
    padding-bottom: 0;
  }
  .single-article-wrap.content-wrap .sidebar {
    padding-right: 0;
  }
  .single-article-wrap.content-wrap h1.entry-title {
    font-size: 44px;
    line-height: 40px;
  }
  .single-article-wrap.content-wrap h2,
.single-article-wrap.content-wrap h3,
.single-article-wrap.content-wrap h4,
.single-article-wrap.content-wrap h5,
.single-article-wrap.content-wrap h6 {
    font-size: 20px;
  }

  .related-articles {
    background-color: #D6B6FF;
    padding: 100px 15px 0;
  }
  .related-articles .title-wrap .entry-title {
    font-size: 44px;
    text-align: center;
  }
  .related-articles .entry-article {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(7, 77, 95, 0.3);
  }
  .related-articles .entry-article:last-child {
    border: 0;
  }

  .images-slider {
    margin: 0 -15px;
  }
  .images-slider .button-next,
.images-slider .button-prev {
    width: 35px;
    height: 50px;
  }
  .images-slider img {
    height: 215px;
  }

  .thumbs-slider {
    margin: 20px 0 0;
  }
  .thumbs-slider .swiper-slide {
    height: 35px;
  }

  .swiper-pagination-bullets {
    margin-top: 0;
  }
  .swiper-pagination-bullets .swiper-pagination-bullet {
    width: 15px;
    height: 3px;
    margin: 0 5px;
  }

  .title-wrap {
    margin-bottom: 34px;
  }
  .title-wrap .entry-title {
    font-size: 40px;
    line-height: 48px;
  }
  .title-wrap .entry-text {
    font-size: 16px;
    line-height: 24px;
  }

  .mobile-padd-0 {
    padding: 0;
  }

  .header-search {
    padding: 0 20px;
  }
  .header-search button {
    font-size: 20px;
    color: #074D5F;
  }
  .header-search form.search .search-input {
    font-size: 18px;
  }

  .social-list {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    font-size: 23px;
    margin: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
    width: 100%;
  }

  .swiper-container .button-next,
.swiper-container .button-prev {
    font-size: 30px;
  }

  .hide-mobile {
    display: none;
  }

  .hide-desktop {
    display: block;
  }

  .btn {
    font-size: 18px;
    height: 40px;
  }

  .col4,
.col5,
.col6,
.col7,
.col8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .entry-title {
    font-size: 40px;
  }

  .footer-col-nav .entry-title:after {
    display: inline-block;
    font-family: "FontAwesome";
    content: "";
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  .footer-col-nav .footer-nav {
    display: none;
  }
  .footer-col-nav.active .entry-title:after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }

  .block.block-iframe-banner {
    padding: 30px 0 40px;
  }
  .block.block-iframe-banner .entry-title {
    margin-bottom: 5px;
  }
  .block.block-iframe-banner .entry-text {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }
  .block.block-iframe-banner iframe {
    margin-top: 40px;
    height: 450px;
  }
  .block.block-iframe-banner .col-content {
    padding: 0;
    text-align: center;
  }

  .block.block-q-and-a {
    padding: 40px 0;
  }
  .block.block-q-and-a .qa-wrap {
    margin-top: 0;
  }
  .block.block-q-and-a .qa-wrap .entry-title {
    font-size: 17px;
    line-height: 24px;
  }
  .block.block-q-and-a .qa-wrap .entry-body {
    margin-top: 7px;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
  }

  .block.block-activities-grid {
    padding: 40px 0;
  }
  .block.block-activities-grid .swiper-container {
    padding-left: 15px;
    overflow: visible;
  }
  .block.block-activities-grid .button-next,
.block.block-activities-grid .button-prev {
    display: none;
  }

  .ank {
    height: 440px;
  }
  .ank.type-1 .ank-wrap, .ank.type-2 .ank-wrap {
    width: 90%;
  }
  .ank.bottom-ank .ank-wrap {
    top: 50px;
  }
  .ank.bottom-ank .img-wrap {
    right: 40px;
    width: 216px;
  }
  .ank.bottom-ank .img-wrap img {
    height: 100%;
  }
  .ank .entry-title {
    font-size: 21px;
    line-height: 24px;
  }
  .ank .entry-text {
    font-size: 16px;
    line-height: 22px;
  }
  .ank .answer-wrap {
    padding: 18px 20px 18px 27px;
  }
  .ank .ank-wrap {
    top: 60px;
    right: unset;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 90%;
    padding: 18px 20px 18px 27px;
  }
  .ank .ank-wrap:after {
    right: 60%;
  }
  .ank .img-wrap {
    right: 0;
    height: 200px;
    width: 280px;
  }

  .home .title-wrap .entry-title {
    font-size: 44px;
    line-height: 48px;
  }
  .home .slider-section .main-slider {
    height: 600px;
  }
  .home .slider-section .main-slider .swiper-slide {
    padding: 15px 0 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: center;
  }
  .home .slider-section .main-slider .button-prev {
    right: 20px;
  }
  .home .slider-section .main-slider .button-next {
    left: 20px;
  }
  .home .slider-section .entry-title {
    font-size: 54px;
    line-height: 48px;
  }
  .home .slider-section .entry-text {
    font-size: 16px;
    margin-top: 7px;
    line-height: 21px;
  }
  .home .slider-section .bg-img {
    bottom: -20px;
  }
  .home .btn.text-btn {
    font-size: 24px;
  }
  .home section .btn-wrap {
    margin-top: 37px;
  }
  .home .banner-section {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: center;
    padding-top: 60px;
  }
  .home .banner-section .entry-title {
    font-size: 42px;
  }
  .home .banner-section .hover-flip-item-wrapper {
    margin: 24px auto 0;
  }
  .home .banner-section .entry-text {
    font-size: 16px;
    line-height: 20px;
  }
  .home .banner-section .entry-image {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 192px;
  }
  .home .upcoming-section {
    padding: 37px 0 50px;
  }
  .home .upcoming-section .swiper-container {
    padding-left: 15px;
    overflow: visible;
  }
  .home .upcoming-section .button-next,
.home .upcoming-section .button-prev {
    display: none;
  }
  .home .featured-section {
    padding: 20px 0 37px;
  }
  .home .featured-section .entry-activity .entry-content {
    padding: 6px 15px;
  }
  .home .featured-section .swiper-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .home .featured-section .swiper-wrapper .swiper-slide {
    margin-bottom: 20px;
  }
  .home .featured-section .swiper-wrapper .swiper-slide:last-child {
    margin-bottom: 0;
  }

  .content-wrap h2,
.content-wrap h3,
.content-wrap h4,
.content-wrap h4,
.content-wrap h5,
.content-wrap h6 {
    font-size: 17px;
    line-height: 24px;
  }
  .content-wrap p,
.content-wrap ul li {
    font-size: 16px;
    line-height: 24px;
  }

  ul.entry-links {
    font-size: 17px;
  }

  .page-template-tpl-contact .btn-scroll-to-top {
    bottom: 90px;
  }
  .page-template-tpl-contact .site-footer {
    padding-bottom: 80px;
  }

  .contact-main-wrap {
    padding: 0 0 53px;
    font-size: 16px;
    line-height: 24px;
  }
  .contact-main-wrap hr {
    margin: 25px 0 0;
  }
  .contact-main-wrap .d-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-main-wrap .d-flex > div {
    padding: 25px 0;
    border-bottom: 1px solid #CDDBDF;
  }
  .contact-main-wrap .d-flex > div:last-child {
    border-bottom: 0;
  }
  .contact-main-wrap ul {
    margin-bottom: 0;
  }
  .contact-main-wrap .entry-form-title {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    padding-top: 32px;
    margin: 40px 0 35px;
    border-top: 1px solid #CDDBDF;
  }
  .contact-main-wrap .custom-row > div:last-child {
    padding: 0;
  }
  .contact-main-wrap .entry-subtitle {
    font-size: 18px;
    line-height: 21px;
  }
  .contact-main-wrap .entry-title {
    margin: 35px 0;
    font-size: 44px;
    line-height: 52px;
    text-align: center;
  }
  .contact-main-wrap .custom-row {
    padding: 0;
  }

  .wpcf7 .wpcf7-form .submit-wrap .wpcf7-submit {
    margin-right: 0;
  }

  form .fields .submit-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  form .fields label {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-bottom: 20px;
  }
  form .fields label:nth-child(1), form .fields label:nth-child(2), form .fields label:nth-child(3), form .fields label:nth-child(4) {
    padding: 0;
  }
  form input[type=text],
form input[type=tel],
form input[type=email] {
    height: 46px;
  }
  form input[type=text],
form input[type=tel],
form input[type=email],
form textarea {
    font-size: 17px;
  }

  .page-template-tpl-event-tours.calendar-fixed.admin-bar .events-calendar {
    top: 0;
  }
  .page-template-tpl-event-tours .select-wrap {
    display: none;
  }
  .page-template-tpl-event-tours .events-calendar .qs-datepicker-container {
    width: auto;
    margin-top: 10px;
  }
  .page-template-tpl-event-tours .calendar-wrap {
    border-bottom: 0;
    border-color: #000;
  }
  .page-template-tpl-event-tours .calendar-wrap ul li {
    font-size: 16px;
  }
  .page-template-tpl-event-tours .calendar-wrap ul li a > span.num {
    font-size: 16px;
  }
  .page-template-tpl-event-tours .calendar-wrap .days-wrap {
    width: 100%;
  }
  .page-template-tpl-event-tours .calendar-wrap .days-wrap ul {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .page-template-tpl-event-tours .calendar-wrap .days-wrap ul li {
    margin: 0 5px;
  }
  .page-template-tpl-event-tours .events-results .entry-event {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33%;
            flex: 0 0 33%;
  }
  .page-template-tpl-event-tours .events-results .entry-event .post-thumbnail img {
    max-width: 100%;
    height: 230px;
  }
  .page-template-tpl-event-tours .events-results .entry-result {
    padding-top: 20px;
  }
  .page-template-tpl-event-tours .events-results .entry-result .entry-body {
    padding-top: 0;
  }
  .page-template-tpl-event-tours .events-results .entry-result .entry-day-title {
    display: none;
  }
  .page-template-tpl-event-tours .header-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .page-template-tpl-event-tours .calendar-wrap button {
    display: none;
  }

  .site-footer .entry-title {
    font-size: 17px;
  }
  .site-footer .footer-top {
    padding: 0;
  }
  .site-footer .footer-top .footer-cols {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .site-footer .entry-text {
    font-size: 14px;
  }
  .site-footer .footer-nav {
    display: none;
  }
  .site-footer .footer-col-menu .entry-title {
    font-size: 17px;
    line-height: 22px;
    font-weight: bold;
    padding: 20px 0;
    border-bottom: 1px solid rgba(175, 223, 219, 0.2);
    position: relative;
    margin: 0;
  }
  .site-footer .footer-col-menu .entry-title.m-top {
    margin-top: 0;
  }
  .site-footer .footer-col-menu .entry-title:after {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    content: "";
    font-family: "meditech" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 12px;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .site-footer .form-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .site-footer .form-col form {
    padding-bottom: 20px;
  }
  .site-footer .form-col .social-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid rgba(175, 223, 219, 0.2);
    padding: 20px 0;
    margin-bottom: 20px;
  }
  .site-footer .form-col .social-wrap .entry-title.m-top {
    margin-top: 0;
    font-size: 17px;
    line-height: 22px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .site-footer .custom-row > div:first-child, .site-footer .custom-row > div:last-child {
    padding: 0;
  }

  .search-header-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .search-header-wrap .search-title {
    margin-top: 17px;
    font-size: 16px;
  }

  .wrap404 {
    text-align: center;
  }
  .wrap404 .d-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrap404 svg {
    width: 70%;
    height: 100px;
  }
  .wrap404 .entry-subtitle {
    font-size: 19px;
  }
}
/** End of 992px **/
@media only screen and (max-width: 576px) {
  .swiper-container .button-next, .swiper-container .button-prev,
.swiper-container .button-next, .swiper-container .button-next {
    font-size: 24px;
  }

  .home .banner-section,
.home .bottom-ank,
.marketing-banner {
    margin-bottom: 5px;
  }

  .site-footer .footer-bottom .copyrights {
    line-height: 30px;
    padding-left: 30px;
  }
  .site-footer .footer-bottom .copyrights a {
    position: relative;
    left: -30px;
  }

  .social-list li a {
    color: #AFDFDB;
  }

  .event-entry-details {
    top: 14px;
  }

  .home .featured-section .title-wrap .entry-title {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .home .slider-section .anchor {
    width: 22px;
    height: 24px;
    background-size: cover !important;
    background: url(../../images/home-scroll-down.png) no-repeat center center;
    bottom: 100px;
  }
  .home .slider-section .anchor svg {
    display: none;
  }

  .home .slider-section .bg-img {
    bottom: 0;
    background: url(../../images/home-white-wave.png) no-repeat top center;
    background-size: cover;
    height: 92px;
  }
  .home .slider-section .bg-img svg {
    display: none;
  }

  .home .slider-section .entry-title {
    margin-top: 10px;
  }
  .home .slider-section .entry-title br {
    display: inherit;
  }

  .single-mt_event .header-image .bg-bottom-img {
    background: url(../../images/movie-white-wave.png) no-repeat bottom center;
    background-size: contain;
  }
  .single-mt_event .header-image .bg-bottom-img svg {
    display: none;
  }

  .side-menu-wrap {
    max-width: 100%;
    padding-bottom: 20px;
  }
  .side-menu-wrap .hidden-fields .btn {
    margin: 40px 0;
  }
  .side-menu-wrap .buy-now-results {
    max-height: 340px;
  }
  .side-menu-wrap .buy-now-results .entry-buy-now .entry-title {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 13px;
  }
  .side-menu-wrap .buy-now-results .entry-buy-now .entry-excerpt {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 13px;
  }

  .btn.orange {
    min-width: 0;
  }

  .news-bar-wrap {
    height: 35px;
  }
  .news-bar-wrap .acme-news-ticker-label {
    font-size: 16px;
    padding-right: 15px;
  }
  .news-bar-wrap .news-bar-ticker li {
    font-size: 14px;
  }
  .news-bar-wrap .acmeticker-wrap {
    margin-left: 43px;
  }
  .news-bar-wrap .acme-news-ticker-controls {
    padding-left: 15px;
  }
  .news-bar-wrap .acme-news-ticker-controls button {
    width: 21px;
    height: 21px;
    font-size: 9px;
  }

  .admin-bar .site-header.is-sticky {
    top: 0;
  }

  .img-credit {
    left: 10px;
    bottom: 10px;
    font-size: 11px;
  }

  .custom-row.mobile-row-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .top-row {
    border: 0;
    padding: 0 0 20px;
  }

  .header-image {
    height: 169px;
  }
  .header-image .header-image-content {
    padding: 0 40px;
  }
  .header-image .header-image-content .entry-title {
    font-size: 44px;
    line-height: 48px;
  }

  .posts-wrap > div,
.posts-wrap.grid-4 > div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-bottom: 40px;
  }
  .posts-wrap > div .post-thumbnail img,
.posts-wrap.grid-4 > div .post-thumbnail img {
    height: 230px;
  }
  .posts-wrap > div .entry-title,
.posts-wrap.grid-4 > div .entry-title {
    font-size: 30px;
    margin: 8px 0 10px;
  }
  .posts-wrap > div .entry-excerpt,
.posts-wrap.grid-4 > div .entry-excerpt {
    font-size: 17px;
    line-height: 22px;
    padding: 0;
  }
  .posts-wrap > div .entry-link,
.posts-wrap.grid-4 > div .entry-link {
    font-size: 17px;
  }

  .event-entry-details .icon {
    width: 36px;
    height: 36px;
  }
  .event-entry-details .icon.movie {
    padding: 0 10px;
  }
  .event-entry-details .text {
    font-size: 16px;
  }

  .single-mt_event .header-image {
    height: 475px;
    margin-bottom: 0;
  }
  .single-mt_event .header-image .event-entry-details {
    right: 15px;
    top: 15px;
  }
  .single-mt_event .header-image .bg-bottom-img {
    bottom: 0;
  }
  .single-mt_event .related-section {
    padding: 37px 0 40px;
  }
  .single-mt_event .related-section .swiper-container {
    overflow: visible;
    padding-left: 10px;
  }
  .single-mt_event .related-section .button-next,
.single-mt_event .related-section .button-prev {
    display: none;
  }

  .event-details h1.entry-title {
    font-size: 44px;
    line-height: 52px;
    margin-bottom: 0;
  }
  .event-details .images-slider {
    margin-top: 40px;
  }
  .event-details .entry-award,
.event-details .entry-content,
.event-details .entry-details,
.event-details .entry-review {
    font-size: 16px;
    line-height: 24px;
  }
  .event-details .entry-review {
    padding: 33px 22px 39px;
    background-size: cover;
  }
  .event-details .entry-review .entry-title {
    font-size: 21px;
    line-height: 24px;
  }
  .event-details .col-content {
    padding: 0;
  }

  .tax-header {
    padding: 0 20px 35px;
    margin: 0;
    border: 0;
    padding-bottom: 0;
  }
  .tax-header .entry-text {
    font-size: 16px;
    line-height: 24px;
  }

  .tax-wrap .custom-row {
    border: 0;
    padding: 40px 0 0;
  }
  .tax-wrap .custom-row.top-tax-row {
    padding-bottom: 0;
  }
  .tax-wrap .custom-row:last-child {
    padding-bottom: 40px;
  }
  .tax-wrap .ank {
    height: 440px;
    margin: 40px 0 0;
  }
  .tax-wrap .ank.bottom-ank .ank-wrap {
    top: 50px;
  }
  .tax-wrap .ank.bottom-ank .img-wrap {
    right: 40px;
    width: 216px;
  }
  .tax-wrap .ank.bottom-ank .img-wrap img {
    height: 100%;
  }
  .tax-wrap .ank .entry-title {
    font-size: 21px;
    line-height: 24px;
  }
  .tax-wrap .ank .entry-text {
    font-size: 16px;
    line-height: 22px;
  }
  .tax-wrap .ank .answer-wrap {
    padding: 18px 20px 18px 27px;
  }
  .tax-wrap .ank .ank-wrap {
    top: 60px;
    right: unset;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 90%;
    padding: 18px 20px 18px 27px;
  }
  .tax-wrap .ank .ank-wrap:after {
    right: 60%;
  }
  .tax-wrap .ank .img-wrap {
    right: 0;
    height: 200px;
    width: 280px;
  }

  .row-pagination .pagination {
    font-size: 18px;
  }
  .row-pagination .pagination > * {
    width: 30px;
    height: 30px;
  }

  .row-posts > div,
.row-posts.grid-2 > div,
.row-posts.grid-3 > div {
    padding: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-bottom: 35px;
  }
  .row-posts > div:last-child,
.row-posts.grid-2 > div:last-child,
.row-posts.grid-3 > div:last-child {
    margin-bottom: 0;
  }
  .row-posts > div .entry-content,
.row-posts.grid-2 > div .entry-content,
.row-posts.grid-3 > div .entry-content {
    padding: 10px 15px;
  }
  .row-posts.search-wrap > div .entry-content,
.row-posts.grid-2.search-wrap > div .entry-content,
.row-posts.grid-3.search-wrap > div .entry-content {
    padding: 10px 0 7px;
  }

  .block.block-content-image {
    padding: 0;
  }
  .block.block-content-image .container {
    border: 0;
    padding-top: 0;
    padding-bottom: 30px;
  }
  .block.block-content-image .content-wrap {
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  .block.block-content-image .col-content {
    padding-bottom: 34px;
    padding-left: 0;
  }
  .block.block-content-image .col-image {
    padding: 0;
  }
  .block.block-content-image .entry-title {
    font-size: 21px;
  }
  .block.block-content-image .btn {
    width: 100%;
    height: 47px;
  }

  .page-template-tpl-event-tours .events-results .entry-event {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-bottom: 20px;
  }

  .row-posts > div .entry-content,
.row-posts.grid-2 > div .entry-content,
.row-posts.grid-3 > div .entry-content {
    padding-bottom: 6px;
  }

  .row-posts > div,
.row-posts.grid-2 > div,
.row-posts.grid-3 > div {
    margin-bottom: 32px;
  }

  .page-template-tpl-event-tours .days-slider,
.qs-datepicker-container .qs-controls,
.qs-squares,
.qs-datepicker-container .qs-day {
    color: #074D5F;
  }

  .qs-datepicker-container .qs-day {
    font-size: 16px;
    line-height: 21px;
    font-weight: normal;
  }

  .qs-datepicker-container .qs-square {
    font-size: 16px;
    line-height: 21px;
    margin: 7.5px 0;
  }

  .page-template-tpl-event-tours .header-wrap .calendar-btn {
    color: #074D5F;
  }

  .calendar-sort-btn {
    display: inline-block;
    background: url(../../images/calendar-sort-icon.png) no-repeat right center;
    width: auto;
    padding-right: 24px;
    font-size: 15px;
    line-height: 20px;
    color: #074D5F;
    padding-left: 19px;
    margin-left: 19px;
    border-left: 1px solid #B5CACF;
  }

  .page-template-tpl-event-tours .events-results .entry-activity .entry-date {
    display: -ms-inline-grid;
    display: inline-grid;
    color: #3A59B6;
  }

  .d-flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .d-flex .entry-details {
    width: 100%;
  }

  .event-details .eventPageContentWrap .hover-flip-item-wrapper {
    width: 100%;
  }

  .eventPageContentWrap > .entry-details {
    border-top: 1px solid #CDDBDF;
    padding-top: 25px;
    margin-bottom: 30px;
  }
  .eventPageContentWrap > .entry-details li {
    font-size: 16px;
    line-height: 20px;
  }

  .event-details .entry-review .entry-title {
    color: #074D5F;
  }

  .event-gallery-column {
    padding-right: 0;
  }

  .row-posts.search-wrap .post-thumbnail a img {
    width: 100%;
    height: auto;
  }

  .search-results .entry-article-wide .entry-title {
    font-size: 17px;
    line-height: 24px;
  }

  .row-posts.search-wrap > div .entry-content p {
    font-size: 16px;
    line-height: 24px;
  }

  .row-posts.search-wrap > div .entry-content .icon-link .text {
    font-size: 16px;
    line-height: 24px;
  }
}
/** End of 576px **/
/** End of 320px **/
@media print {
  a[href]:after {
    content: none !important;
  }
}
/** End of print **/